<!doctype html>
  <html lang="de">
    <head>
      <title>Layout // Christian Noss</title>
      <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <link rel="stylesheet" href="/slides/reveal/dist/reset.css">
      <link rel="stylesheet" href="/slides/reveal/dist/reveal.css">
      <link rel="stylesheet" href="/slides/assets/main.css">
     
      <link rel="icon" type="image/svg" href="/slides/assets/images/preview_black_24dp.svg">
  
      <!-- Theme used for syntax highlighted code -->
      <link rel="stylesheet" href="/slides/reveal/plugin/highlight/github.css">
    </head>
    <body>
      <div class="reveal">
        <div class="slides">
          
      <section data-slide-class="intro" class="mi-slide 
      intro " data-background-color="#9313ce"   data-transition="zoom">
      <div class="is-full-width">
<h1>Layout</h1>
</div>
      
      
      
      
      </section>
    

      <section data-slide-class="images" class="mi-slide 
      images "    data-transition="convex">
      <section data-slide-shortcode-class="interlude" data-background-color="#9313ce" class="image screenshot interlude" ><div><h1 class="title">Das Layout.</h1><h2 class="subtitle js-delay"><p>Gestalterische Macrostruktur</p>
</h2></div></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-01.png" alt="./images/layout-01.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-02.png" alt="./images/layout-02.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-03.png" alt="./images/layout-03.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-04.png" alt="./images/layout-04.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-05.png" alt="./images/layout-05.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-06.png" alt="./images/layout-06.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-07.png" alt="./images/layout-07.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-08.png" alt="./images/layout-08.png" width="auto" ></figure></section>
<section class="simple">
  <div>
    <div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list"><strong>Was?</strong> Inhalt</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list"><strong>Warum?</strong> Ziel</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list"><strong>Für wen?</strong> Zielgruppe</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list"><strong>Wo?</strong> Präsentationsmedium</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list"><strong>Wie?</strong> stilistische Festlegungen</p></div>
    </div>
</section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-09.png" alt="./images/layout-09.png" width="auto" ><figcaption class="bu"><p>Elemente einer Seite</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-09b.png" alt="./images/layout-09b.png" width="auto" ><figcaption class="bu"><p>Layout</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-09c.png" alt="./images/layout-09c.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-10.png" alt="./images/layout-10.png" width="auto" ><figcaption class="bu"><p>Satzspiegelkonstruktion durch Diagonalzug (Villardsche Figur)</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-11.png" alt="./images/layout-11.png" width="auto" ><figcaption class="bu"><p>Satzspiegel</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-12.png" alt="./images/layout-12.png" width="auto" ><figcaption class="bu"><p>Satzspiegel</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-14.png" alt="./images/layout-14.png" width="auto" ><figcaption class="bu"><p>Gestaltungsraster</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-15.png" alt="./images/layout-15.png" width="auto" ><figcaption class="bu"><p>2-spaltiges Gestaltungsraster</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-16.png" alt="./images/layout-16.png" width="auto" ><figcaption class="bu"><p>3-spaltiges  Gestaltungsraster</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-17.png" alt="./images/layout-17.png" width="auto" ><figcaption class="bu"><p>4-spaltiges  Gestaltungsraster</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-19.png" alt="./images/layout-19.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/layout-18.png" alt="./images/layout-18.png" width="auto" ></figure></section>

      
      
      
      
      </section>
    

      <section data-slide-class="images" class="mi-slide 
      images "    data-transition="convex">
      <section data-slide-shortcode-class="interlude" data-background-color="#00ad2f" class="image screenshot interlude" ><div><h1 class="title">Das Gestaltungsraster.</h1><h2 class="subtitle js-delay"><p>Gestalterische Mikrostruktur</p>
</h2></div></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-01.png" alt="./images/gestaltungsraster-01.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-02.png" alt="./images/gestaltungsraster-02.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-03.png" alt="./images/gestaltungsraster-03.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-04.png" alt="./images/gestaltungsraster-04.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-05.png" alt="./images/gestaltungsraster-05.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-06.png" alt="./images/gestaltungsraster-06.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/gestaltungsraster-07.png" alt="./images/gestaltungsraster-07.png" width="auto" ></figure></section>
      
      
      
      
      </section>
    

      <section data-slide-class="images" class="mi-slide 
      images "    data-transition="convex">
      <section data-slide-shortcode-class="interlude" data-background-color="#4952e1" class="image screenshot interlude" ><div><h1 class="title">Ein Gestaltungsraster hilft immer!</h1></div></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/sketch-01.png" alt="./images/sketch-01.png" width="auto" ></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/sketch-02.png" alt="./images/sketch-02.png" width="auto" ></figure></section>
<section class="simple">
  <div>
    <h1>Rastersysteme zum Starten</h1>
    <div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list">Raster sollten gleichmäßig sein.</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list">Abstand zwischen zwei Spalten muss stimmig sein.</p></div>
      <div data-slide-shortcode-class="fragment" class="fragment"><p class="list">Spaltenbreite muss auf Brotschrift abgestimmt sein.</p></div>
    </div>
</section>
      
      
      
      
      </section>
    

      <section data-slide-class="images" class="mi-slide 
      images "    data-transition="convex">
      <section data-slide-shortcode-class="interlude" data-background-color="#9313ce" class="image screenshot interlude" ><div><h1 class="title">Raster, Icons & Größe.</h1><h2 class="subtitle js-delay"><p>Lessons Learned</p>
</h2></div></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/raster-01.png" alt="./images/raster-01.png" width="auto" ><figcaption class="bu"><p>Raster: Grund- und Gestaltungsraster verwenden</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/raster-02.png" alt="./images/raster-02.png" width="auto" ><figcaption class="bu"><p>Icons: benutze fertige Sets</p></figcaption></figure></section>
<section data-slide-shortcode-class="screenshot" class="image screenshot no-shadow" data-transition="fade" data-background-transition="fade"><figure><img src="./images/raster-03.png" alt="./images/raster-03.png" width="auto" ><figcaption class="bu"><p>Größe: Layout auf Device testen</p></figcaption></figure></section>

      
      
      
      
      </section>
    

      <section data-slide-class="outro" class="mi-slide 
      outro " data-background-color="#231f20"   data-transition="convex">
      <div class="is-fullscreen is-centered"><p></p>
<div class="outro">
<figure class="outro-avatar">
<img src="../../../assets/images/cnoss.jpeg">
<figcaption>
<p>Danke für's Mitmachen</p>
<p class="small"><a href="https://christiannoss.de">https://christiannoss.de</a></p>
</figcaption>
</figure>
</div>
</div>
      
      
      
      
      </section>
    

      <section data-slide-class="intro" class="mi-slide 
      intro " data-background-color="#9313ce"   data-transition="zoom">
      
      
      
      
      
      </section>
      
        </div>

      </div>
      
      <script src="/slides/reveal/dist/reveal.js"></script>
      <script src="/slides/assets/scripts/libs/fittext.js"></script>
      <script src="/slides/assets/scripts/main.js"></script>
      <script src="/slides/reveal/plugin/notes/notes.js"></script>
      <script src="/slides/reveal/plugin/markdown/markdown.js"></script>
      <script src="/slides/reveal/plugin/highlight/highlight.js"></script>
      <script src="/slides/reveal/plugin/zoom/zoom.js"></script>
      <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
          hash: true, 
          center: false,
          disableLayout: true,
          progress: true,
          backgroundTransition: 'fade',
          highlight: {
            highlightOnLoad: false,
          },
          // Learn about plugins: https://revealjs.com/plugins/
          plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealZoom]
        }).then(() => {
          const highlight = Reveal.getPlugin('highlight');
          highlight.hljs.configure(
            {
              languages: ['javascript', 'css', 'html', 'bash', 'json', 'markdown', 'xml', 'yaml'],
            }
          );
          highlight.hljs.highlightAll();
        });

        
      </script>
    </body>
  </html>