/* Misc
############################################################################ */

.list{
  border-left: solid var(--border-width-l) var(--mi-blau);
  padding-left: var(--s);
  background-color: var(--lighter);
  padding-top: var(--quat);
  padding-bottom: var(--half);
  margin-bottom: var(--m) !important;
}

.colored-list{
  li{
    margin-bottom: var(--xs);
    margin-left: calc(var(--m) * 1);
    &::before{
      color: var(--mi-blau);
      margin-left: calc(var(--m) * -1);
      width: var(--m);
      font-weight: var(--fw-bold);
    }
  }
}

/* Footer
############################################################################ */

.mi-slide{

  .present{
    position: relative;
  }

  footer{
    position: fixed;
    opacity: 0;
    left: 0;
    bottom: 0;
    padding-left: var(--m);
    padding-bottom: var(--m);
    transform: scale(0);
    transform-origin: bottom left;
    z-index: 20;
    line-height: var(--lh-normal);
    transition: all 2s ease 2s;

    li{
      display: block;
    }

    &.is-active{
      opacity: 1;
      transform: scale(0.6);
    }
  }
}

/* Copy Button
############################################################################ */

.copy-button{
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: var(--half);
  left: var(--half);
  opacity: 0.5;
  transform: scale(0.8);
  transition: all var(--tr-fast);

  &:hover{
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
  }
}

/* Utiliies
############################################################################ */

.has-gap{
  margin-top: var(--xxl) !important;
  margin-bottom: var(--xxl) !important;
}

.has-whitener {
  padding: var(--l);
  background-color: rgba(255, 255, 255, 0.95);
}

.has-dark-bg{
  background-color: var(--dark);
}

.has-black-bg{
  background-color: var(--darkest);
}

.is-full-width {
  width: 100%;
}

.is-fullscreen {
  width: 100vw;
  height: 100vh;
}

.is-centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.is-stacked {
  flex-direction: column;
}

.is-small{
  font-size: var(--m) !important;
  margin-bottom: var(--m) !important;
}

.js-fit-text {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fit-text {
  --min-font-size: 1rem;
  --max-font-size: 3rem;
  --ratio: 10cqi;
  font-size: clamp(var(--min-font-size), var(--ratio), var(--max-font-size));
}

.js-delay{
  opacity: 0;
  transform: scale(0);
  transition: all var(--tr-fast) var(--tr-delay);

  &.has-delay{
    opacity: 1;
    transform: scale(1);
  }
}

.is-purple{
  color: var(--mi-lila);
}

.is-green{
  color: var(--mi-gruen);
}

.is-add-on-info{
  opacity: var(--op-low);
  transform: perspective(200px) rotateY(85deg);
  perspective-origin: 0 50%;
  transform-origin: 0 50%;
  transition: opacity var(--tr-fast), transform var(--tr-slow);

  &:hover{
    opacity: 1;
    transform: perspective(400px) rotateY(0);
  }
}

.is-important{
  * {
    font-weight: var(--fw-medium);
  }
}

.is-unbalanced{
  text-wrap: unset !important;
}

/* Status
############################################################################ */

.status{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--mi-pink);
  color: var(--lightest);
  padding: var(--xs) var(--xxs);
}

/* Definition
############################################################################ */

dl.simple-definition{
  margin-bottom: var(--xl);
  dt{
    &::after{
      content:":";
    }
  }
  dd{
    font-weight: var(--fw-medium);
    margin-bottom: var(--s);
    padding-left: var(--m);
  }

}

/* Aufzählung
############################################################################ */

.inline {
  li {
    display: inline-block;
  }

  li + li::before {
    color: var(--color-decoration);
    content: "// ";
  }
}

/* Quelle
############################################################################ */

.src {
  font-size: var(--xxs);
  opacity: 0.2;
  transform: scale(0.5);
  transform-origin: left top;
  transition: all var(--tr-fast);

  &:hover {
    opacity: 0.8;
    transform: scale(1);
  }
}

/* Bildunterschriften
############################################################################ */
.bu {
  position: absolute;
  bottom: 0;
  left: var(--xxs);
  display: inline-block;
  max-width: 30em;
  padding: var(--xxs) var(--xxs) var(--s) var(--xxs);
  background-color: var(--lighter);
  color: var(--darker);
  font-size: var(--xs);
  opacity: 0;
  transition: opacity var(--tr-slow) var(--tr-delay);


  p { 
    hyphens: none !important;
    line-height: var(--lh-normal);
  }

  .credit {
    font-size: var(--xxs);
    margin-top: var(--half);

    >span{
      color: var(--color-accent);
    }
  }

  &.is-dark{
    background-color: var(--darken);
    color: var(--lightest);
  }

  &.is-active {
    opacity: 1;
  }

  .print-pdf & {
    opacity: 1;

    &, * {
      hyphens: auto !important;
    }

  }

  h2,
  h3 {
    padding-top: 0;
    margin-bottom: 0;
    color: var(--darkest);
    font-size: var(--s);

    & + * {
      margin-top: var(--half);
    }
  }
}

.bu-hero {
  color: var(--lightest);
  font-family: var(--ff-headline);
  font-size: var(--xxl);
  font-weight: bold;
  opacity: 0.7;
}

.large-text .bu {
  font-size: var(--l);
  padding: var(--s) var(--m) var(--l) var(--m);
  line-height: var(--lh-normal);
}

.full-height .bu {
  bottom: var(--m);
  top: var(--m);
  display: flex;
  align-items: center; 
}

.center .bu{
  top: 50%;
  transform: translateY(-50%);
  bottom: unset;
}

.invert .bu {
  background-color: var(--darkest);
  color: var(--lightest);

  strong{
    color: var(--lightest);
    font-weight: var(--fw-bold);
  }
}

.frameless .bu {
  top: 0;
  left: 0;
  bottom: 0;
  padding: var(--xxl);
  width: 33%;
}

.is-dark .bu {
  background-color: var(--darker);
  color: var(--lightest);
  --mi-lila: var(--mi-lila-light);
}

/* Blöcke
############################################################################ */

.content-blocks {
  p,
  li,
  h3 {
    display: block;
    padding: var(--xxs) var(--xs);
    margin-bottom: var(--xxs);
    background-color: var(--lighten-strong);
    box-shadow: var(--shadow-l);
  }

  h3 {
    color: var(--mi-lila);
  }

  strong {
    font-weight: var(--fw-bold);
  }
}


/* Badge
############################################################################ */

.badge, .mi-slide .badge, .mi-slide.badge{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--mark);
  color: var(--darkest);
  font-size: var(--xs);
  font-weight: var(--fw-bold);
  padding: var(--half) var(--m);
  text-align: right;
  z-index: 1000;
  opacity: 0;
  transition: opacity var(--tr-fast) 1s;
  transform-origin: right;

  a{
    color:var(--darkest);
    text-decoration: none;
  }
}
.mi-slide .badge.is-active, .mi-slide.badge.is-active{
  opacity: 1;
}

.print-pdf .mi-slide .badge, .print-pdf.mi-slide.badge{
  position: absolute;
  background-color: var(--mark) !important;
}

/* Fadeout Bottom
############################################################################ */

.fadeout-bottom{
  position: absolute;
  max-height: 80dvh;
  overflow: hidden;
  bottom: 0;

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
}

.print-pdf .fadeout-bottom{
  position: relative;
}

/* Grid
############################################################################ */

.mi-slide{
  @media screen and (min-width: 800px) {
    .grid{
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: var(--m);

      [data-col="1"]{
        grid-column: 1 / 2; 
        display: block;
        text-align: right;
        hyphens: none;
      }

      [data-col="2"]{
        grid-column: 2 / 3; 
        display: block;
      }
    }
  }
}