@font-face {
  font-family: PTsans;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/PT_Sans/PTSans-Regular.ttf');
}

@font-face {
  font-family: PTsans;
  font-style: bold;
  font-weight: 600;
  src: url('./fonts/PT_Sans/PTSans-Bold.ttf');
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Barlow/Barlow-Light.ttf');
}


@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Barlow/Barlow-Medium.ttf');
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Barlow/Barlow-Bold.ttf');
}


@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: PTserif;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/PT_Serif/PTSerif-Regular.ttf');
}

@font-face {
  font-family: RobotoCode;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Roboto_Slab/RobotoSlab-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: bold;
  font-weight: 600;
  src: url('./fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/Fira_Sans/FiraSans-Light.ttf");
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Fira_Sans/FiraSans-Medium.ttf");
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Fira_Sans/FiraSans-SemiBold.ttf");
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Fira_Sans/FiraSans-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Fira_Sans/FiraSans-ExtraBold.ttf");
}

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Fira_Code/FiraCode-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: FiraItalic;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Fira_Sans/FiraSans-Italic.ttf");
}

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('./fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
    url('./fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
    url('./fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}
