

/* Intro
############################################################################ */



/* Outro
############################################################################ */



/* Zitat
############################################################################ */


/* Screenshot
############################################################################ */


/* Video
############################################################################ */



/* statement
############################################################################ */



/* Interlude
############################################################################ */

/* Shout
############################################################################ */



/* question
############################################################################ */


/* Simple
############################################################################ */


/* Code
############################################################################ */



/* Question and Answer
############################################################################ */



/* Wrap
############################################################################ */


/* Split
############################################################################ */


/* Image
############################################################################ */

.image{
  figure{

    img{
      width: 100%;
      aspect-ratio: 5/4;
      object-fit: contain;
    }
  }
}