.mi-slide {
  position: relative;
  width: 100vw;
  height: 95vh;

  & > section {
    height: 100%;
  }
}

/* Intro
############################################################################ */

.intro {
  /* display: flex !important;
  align-items: center; */
  padding: var(--m);

  h1 {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: var(--half);
    margin-top: 0;
    color: var(--lightest);
    font-size: var(--xxxl);
  }

  h2 {
    padding-top: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: var(--m);
  }
}

/* Outro
############################################################################ */

.outro{

  &-avatar{
    display: flex;
    align-items: center;
    color: var(--lightest);

    img{
      border-radius: 50%;
      width: 100%;
      max-width: 10vw;
      margin-right: var(--m);
      border: solid var(--border-width-m) var(--mi-gruen);
    }

    figcaption{
      font-size: var(--l);
      .small{
        font-size: var(--s);
        color: var(--dark);
      }
    }
  }


}

/* Zitat
############################################################################ */

.cite {
  display: flex !important;
  align-items: center;
  justify-content: center;

  blockquote {
    max-width: 60rem;

    cite {
      display: block;
      margin-bottom: var(--half);
      color: var(--dark);
      color: var(--mi-lila);
      font-size: var(--xs);
    }

    p {
      position: relative;
      display: inline-block;
      margin-bottom: var(--xl);
      font-family: var(--ff-serif);
      font-size: var(--xl);
      hyphens: none;
      line-height: var(--lh-tight);

      &::before {
        position: absolute;
        left: calc(var(--s) * -1);
        color: var(--mi-lila);
        content: "« ";
      }

      &::after {
        color: var(--mi-lila);
        content: "»";
      }
    }
  }
}

/* Screenshot
############################################################################ */

.screenshot {
  display: flex !important;
  align-items: center;
  justify-content: center;

  figure {
    display: flex;
    max-width: 90vw;
    height: 100%;
    max-height: 90vh;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;

    img, svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    img {
      box-shadow: var(--shadow-xl);
    }
  }
}

/* Video
############################################################################ */

.video {
  display: flex !important;
  align-items: center;
  justify-content: center;

  figure {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    max-height: 80vh;

    iframe {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      box-shadow: var(--shadow-xl);
      object-fit: contain;
    }
  }

  .bu {
    top: auto;
    bottom: var(--m);
    background-color: transparent;
  }
}

/* Statement
############################################################################ */

.statement {
  display: flex !important;
  align-items: center;
  justify-content: center;

  div {
    max-width: 60rem;

    h1 {
      padding-bottom: var(--s);
    }

    p {
      margin-bottom: var(--xl);
      color: var(--darker);
      font-size: var(--l);
      line-height: var(--lh-tight);
    }
  }

  &.is-green {
    background-color: var(--mi-gruen);

    * {
      color: var(--lightest);
    }
  }

  &.is-purple {
    background-color: var(--mi-lila);

    * {
      color: var(--lightest);
    }
  }

  &.is-blue {
    background-color: var(--mi-blau);

    * {
      color: var(--lightest);
    }
  }
}

/* Interlude
############################################################################ */

.interlude {
  display: flex !important;
  align-items: center;
  justify-content: center;

  .title {
    padding: 0;
  }

  .subtitle {
    padding: 0;
    font-family: var(--ff-normal);
    color: var(--mi-lila);
  }
}

/* Shout
############################################################################ */

.shout {
  display: flex !important;
  align-items: center;
  justify-content: center;

  blockquote {
    max-width: 60rem;
    transition: all var(--tr-slow);

    cite {
      display: block;
      margin-bottom: var(--half);
      color: var(--dark);
      color: var(--mi-lila);
      font-size: var(--xs);
      font-style: normal;
    }

    p {
      position: relative;
      display: inline-block;
      margin-bottom: var(--xl);
      font-family: var(--ff-headline);
      font-size: var(--xl);
      hyphens: none;
      line-height: var(--lh-tight);
    }

    &.is-passive{
      transform: scale(0.5);
      transform-origin: center right;
    }
  }

  .info{
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--s);
    padding: var(--l);
    background-color: var(--dark);
    color: var(--dark);
    border-radius: 50%;
    line-height: var(--lh-normal);
    overflow-y: auto;
    transform-origin: top left;
    
    max-width: calc(var(--s) * 30);
    transform: scale(0.1) translateX(-50%) translateY(-50%);
    transition: all var(--tr-fast);

    &:hover{
      top: 0;
      left: 0;
      cursor: pointer;
      transform: scale(0.1) translateX(-25%) translateY(-25%);
    }

    &.is-active{
      top: 0;
      left: 0;
      transform: scale(1) translateX(0) translateY(0);
      bottom: calc(var(--xl) * -1);
      background-color: var(--lighter);
      border-radius: 0;
      color: var(--darkest);
    }
  }
}