.overview{
  .slides{
    .mi-slide{
      width: 400px !important;
      height: 300px !important;
    }
  }
}

.hljs-break{
  display: none;
}

/* Notizen
#################################################### */

.notes{
  &.is-active{
    display: flex !important;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    position: fixed;
    background-color: var(--darkest);
    color: var(--lightest);
    padding: var(--m);
    z-index: 1000;
    opacity: 0.9;

    display: flex;
    flex-direction: column;
    gap: var(--xs);
    overflow-y: auto;
    justify-content: center;

    *{
      line-height: var(--lh-normal);
    }

    p{
      margin-bottom: var(--s);
    }

    ul, ol{
      margin-left: var(--m);

      li{
        margin-bottom: var(--xs);
      }
    }
  }
}