.overview{
  .slides{
    .mi-slide{
      width: 400px !important;
      height: 300px !important;
    }
  }
}

.hljs-break{
  display: none;
}

/* Notizen
#################################################### */

.notes{
  opacity: 0;

  &.is-active{
    display: block !important;
    top: 0;
    right: 0;
    width: 33%;
    bottom: 0;
    position: fixed;
    background-color: var(--darkest);
    color: var(--lightest);
    padding: var(--m);
    z-index: 1000;
    opacity: 0.9;
    overflow-y: scroll;

    *{
      line-height: var(--lh-normal);
    }

    p{
      margin-bottom: var(--s);
      animation: none;
    }

    ul, ol{
      margin-left: var(--m);

      li{
        margin-bottom: var(--xs);
      }
    }
  }
}