.overview{
  .slides{
    .mi-slide{
      width: 400px !important;
      height: 300px !important;
    }
  }
}

.hljs-break{
  display: none;
}

/* Notizen
#################################################### */

.notes{
  opacity: 0;
}

.notes-overlay{
  display: none;

  &.is-active{
    display: block;
    top: 0;
    right: 0;
    width: 33%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    background-color: var(--darkest);
    color: var(--lightest);
    font-size: var(--s);
    padding: var(--m);
    z-index: 1000;
    opacity: 0.9;
    overflow-y: auto;
    overscroll-behavior: contain;
    pointer-events: auto;

    *{
      line-height: var(--lh-normal);
    }

    p{
      margin-bottom: var(--s);
      animation: none;
    }

    strong, b{
      font-weight: var(--fw-medium);
    }

    ul, ol{
      margin-left: var(--m);

      li{
        margin-bottom: var(--xs);
      }
    }
  }
}


/* Print
#################################################### */

.print-pdf{
  --bfs: 10pt;
}