@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reveal Resets
############################################################################ */
.reveal .slides {
  text-align: left;
}
.reveal .controls {
  transform: scale(0.8);
}
.reveal .controls .highlight {
  animation: none !important;
}
.reveal .progress span {
  background-color: var(--color-decoration);
}

@font-face {
  font-family: PTsans;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: PTsans;
  font-style: bold;
  font-weight: 600;
  src: url("./fonts/PT_Sans/PTSans-Bold.ttf");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Barlow/Barlow-Light.ttf");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Barlow/Barlow-Regular.ttf");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Barlow/Barlow-Medium.ttf");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Barlow/Barlow-Bold.ttf");
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Barlow/Barlow-Regular.ttf");
}
@font-face {
  font-family: PTserif;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/PT_Serif/PTSerif-Regular.ttf");
}
@font-face {
  font-family: RobotoCode;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto_Slab/RobotoSlab-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: bold;
  font-weight: 600;
  src: url("./fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/Fira_Sans/FiraSans-Light.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Fira_Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Fira_Sans/FiraSans-Medium.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Fira_Sans/FiraSans-SemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Fira_Sans/FiraSans-Bold.ttf");
}
@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Fira_Sans/FiraSans-ExtraBold.ttf");
}
@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Fira_Code/FiraCode-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: FiraItalic;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Fira_Sans/FiraSans-Italic.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: IBM;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}
@font-face {
  font-family: "MaterialIcons";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("./fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("./fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("./fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
:root {
  --bfs: 1rem;
  --half: calc(var(--bfs) / 2);
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 1);
  --xs: calc(var(--bfs) * 1.25);
  --s: calc(var(--bfs) * 1.6);
  --m: calc(var(--bfs) * 2);
  --l: calc(var(--bfs) * 2.5);
  --xl: calc(var(--bfs) * 3.15);
  --xxl: calc(var(--bfs) * 4);
  --xxxl: calc(var(--bfs) * 5);
  --xxxxl: calc(var(--bfs) * 6.3);
  --fluid-l: clamp(1rem, 10vw + 0.75rem, 10rem);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --lighten: rgba(255,255,255,0.5);
  --lighten-strong: rgba(255,255,255,0.8);
  --dark: #888;
  --darker: #222;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.1);
  --darken-light: rgba(0, 0, 0, 0.05);
  --color-text: var(--darker);
  --color-headline: var(--dark);
  --color-accent: var(--mi-pink);
  --color-decoration: var(--mi-gruen);
  --mi-blau: #4952e1;
  --mi-pink: #d16;
  --mi-gruen: #00ad2f;
  --mi-lila: #9313ce;
  --mi-lila-light: #b66ffb;
  --mi-black: #231f20;
  --mi-grau: #aaa;
  --mark: #F4FF71;
  /* #F4FF71; */
  --mi-hellgrau: #efefef;
  --ff-normal: "Barlow", sans-serif;
  --ff-serif: "FiraItalic", serif;
  --ff-code: "FiraCode", monospace;
  --ff-headline: "Barlow", sans-serif;
  --ff-icons: "MaterialIcons", serif;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 130%;
  --lh-tight: 110%;
  --lh-stick: 100%;
  --lh-loose: 150%;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;
  --op-low: 0.4;
  --op-medium: 0.6;
  --shadow-l: 0 0 var(--xs) rgba(0, 0, 0, 0.5);
  --shadow-xl: var(--half) var(--half) var(--m) rgba(0, 0, 0, 0.3);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;
  --radius-s: 3px;
  --radius-m: 6px;
  --max-width-text: calc(var(--bfs) * 90);
  --max-width-text-small: 60ch;
}

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
.icon--s {
  font-size: var(--s);
  line-height: var(--s);
}
.icon--m {
  font-size: var(--m);
  line-height: var(--m);
}
.icon--l {
  font-size: var(--l);
  line-height: var(--l);
}
.icon--xl {
  font-size: var(--xl);
  line-height: var(--xl);
}
.icon.md-dark {
  color: var(--lightest);
}
.icon.md-light {
  color: var(--darkest);
}
.icon--inline {
  margin-right: var(--xs);
  font-size: var(--m);
}
.icon::before {
  content: attr(data-icon);
}

* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightest);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: bold;
  hyphens: none;
}

h1 {
  padding-top: var(--xxxl);
  padding-bottom: var(--xxxl);
  color: var(--darkest);
  font-size: var(--xxl);
  line-height: var(--lh-tight);
  font-weight: var(--fw-medium);
  color: var(--mi-black);
}
h1 strong {
  font-weight: var(--fw-bold) !important;
}

h2 {
  padding-top: var(--xxl);
  margin-bottom: var(--xxl);
  font-size: var(--xxl);
  font-weight: var(--fw-medium);
}

h3 {
  padding-top: var(--xl);
  margin-bottom: var(--xl);
  font-size: var(--xl);
  font-weight: normal;
}

mark {
  padding-left: var(--half);
  padding-right: var(--half);
  display: inline-block;
}
mark strong {
  color: var(--darkest) !important;
}

p, div {
  hyphens: auto;
}
p > mark, p > em, div > mark, div > em {
  font-weight: var(--fw-bold);
  background-color: transparent;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

small {
  opacity: var(--op-medium);
  font-size: 80%;
}

.fragment {
  text-wrap: balance;
}

/* Misc
############################################################################ */
.list {
  border-left: solid var(--border-width-l) var(--mi-blau);
  padding-left: var(--s);
  background-color: var(--lighter);
  padding-top: var(--quat);
  padding-bottom: var(--half);
  margin-bottom: var(--m) !important;
}

.colored-list li {
  margin-bottom: var(--xs);
  margin-left: calc(var(--m) * 1);
}
.colored-list li::before {
  color: var(--mi-blau);
  margin-left: calc(var(--m) * -1);
  width: var(--m);
  font-weight: var(--fw-bold);
}

/* Footer
############################################################################ */
.mi-slide .present {
  position: relative;
}
.mi-slide footer {
  position: fixed;
  opacity: 0;
  left: 0;
  bottom: 0;
  padding-left: var(--m);
  padding-bottom: var(--m);
  transform: scale(0);
  transform-origin: bottom left;
  z-index: 20;
  line-height: var(--lh-normal);
  transition: all 2s ease 2s;
}
.mi-slide footer li {
  display: block;
}
.mi-slide footer.is-active {
  opacity: 1;
  transform: scale(0.6);
}

/* Copy Button
############################################################################ */
.copy-button {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: var(--half);
  left: var(--half);
  opacity: 0.5;
  transform: scale(0.8);
  transition: all var(--tr-fast);
}
.copy-button:hover {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

/* Utiliies
############################################################################ */
.has-gap {
  margin-top: var(--xxl) !important;
  margin-bottom: var(--xxl) !important;
}

.has-whitener {
  padding: var(--l);
  background-color: rgba(255, 255, 255, 0.95);
}

.has-dark-bg {
  background-color: var(--dark);
}

.has-black-bg {
  background-color: var(--darkest);
}

.is-full-width {
  width: 100%;
}

.is-fullscreen {
  width: 100vw;
  height: 100vh;
}

.is-centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.is-stacked {
  flex-direction: column;
}

.is-small {
  font-size: var(--m) !important;
  margin-bottom: var(--m) !important;
}

.js-fit-text {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fit-text {
  --min-font-size: 1rem;
  --max-font-size: 3rem;
  --ratio: 10cqi;
  font-size: clamp(var(--min-font-size), var(--ratio), var(--max-font-size));
}

.js-delay {
  opacity: 0;
  transform: scale(0);
  transition: all var(--tr-fast) var(--tr-delay);
}
.js-delay.has-delay {
  opacity: 1;
  transform: scale(1);
}

.is-purple {
  color: var(--mi-lila);
}

.is-green {
  color: var(--mi-gruen);
}

.is-add-on-info {
  opacity: var(--op-low);
  transform: perspective(200px) rotateY(85deg);
  perspective-origin: 0 50%;
  transform-origin: 0 50%;
  transition: opacity var(--tr-fast), transform var(--tr-slow);
}
.is-add-on-info:hover {
  opacity: 1;
  transform: perspective(400px) rotateY(0);
}

.is-important * {
  font-weight: var(--fw-medium);
}

.is-unbalanced {
  text-wrap: unset !important;
}

/* Status
############################################################################ */
.status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--mi-pink);
  color: var(--lightest);
  padding: var(--xs) var(--xxs);
}

/* Definition
############################################################################ */
dl.simple-definition {
  margin-bottom: var(--xl);
}
dl.simple-definition dt::after {
  content: ":";
}
dl.simple-definition dd {
  font-weight: var(--fw-medium);
  margin-bottom: var(--s);
  padding-left: var(--m);
}

/* Aufzählung
############################################################################ */
.inline li {
  display: inline-block;
}
.inline li + li::before {
  color: var(--color-decoration);
  content: "// ";
}

/* Quelle
############################################################################ */
.src {
  font-size: var(--xxs);
  opacity: 0.2;
  transform: scale(0.5);
  transform-origin: left top;
  transition: all var(--tr-fast);
}
.src:hover {
  opacity: 0.8;
  transform: scale(1);
}

/* Bildunterschriften
############################################################################ */
.bu {
  position: absolute;
  bottom: 0;
  left: var(--xxs);
  display: inline-block;
  max-width: 30em;
  padding: var(--xxs) var(--xxs) var(--s) var(--xxs);
  background-color: var(--lighter);
  color: var(--darker);
  font-size: var(--xs);
  opacity: 0;
  transition: opacity var(--tr-slow) var(--tr-delay);
}
.bu p {
  hyphens: none !important;
  line-height: var(--lh-normal);
}
.bu .credit {
  font-size: var(--xxs);
  margin-top: var(--half);
}
.bu .credit > span {
  color: var(--color-accent);
}
.bu.is-dark {
  background-color: var(--darken);
  color: var(--lightest);
}
.bu.is-active {
  opacity: 1;
}
.print-pdf .bu {
  opacity: 1;
}
.print-pdf .bu, .print-pdf .bu * {
  hyphens: auto !important;
}
.bu h2,
.bu h3 {
  padding-top: 0;
  margin-bottom: 0;
  color: var(--darkest);
  font-size: var(--s);
}
.bu h2 + *,
.bu h3 + * {
  margin-top: var(--half);
}

.bu-hero {
  color: var(--lightest);
  font-family: var(--ff-headline);
  font-size: var(--xxl);
  font-weight: bold;
  opacity: 0.7;
}

.large-text .bu {
  font-size: var(--l);
  padding: var(--s) var(--m) var(--l) var(--m);
  line-height: var(--lh-normal);
}

.full-height .bu {
  bottom: var(--m);
  top: var(--m);
  display: flex;
  align-items: center;
}

.center .bu {
  top: 50%;
  transform: translateY(-50%);
  bottom: unset;
}

.invert .bu {
  background-color: var(--darkest);
  color: var(--lightest);
}
.invert .bu strong {
  color: var(--lightest);
  font-weight: var(--fw-bold);
}

.frameless .bu {
  top: 0;
  left: 0;
  bottom: 0;
  padding: var(--xxl);
  width: 33%;
}

.is-dark .bu {
  background-color: var(--darker);
  color: var(--lightest);
  --mi-lila: var(--mi-lila-light);
}

/* Blöcke
############################################################################ */
.content-blocks p,
.content-blocks li,
.content-blocks h3 {
  display: block;
  padding: var(--xxs) var(--xs);
  margin-bottom: var(--xxs);
  background-color: var(--lighten-strong);
  box-shadow: var(--shadow-l);
}
.content-blocks h3 {
  color: var(--mi-lila);
}
.content-blocks strong {
  font-weight: var(--fw-bold);
}

/* Badge
############################################################################ */
.badge, .mi-slide .badge, .mi-slide.badge {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--mark);
  color: var(--darkest);
  font-size: var(--xs);
  font-weight: var(--fw-bold);
  padding: var(--half) var(--m);
  text-align: right;
  z-index: 1000;
  opacity: 0;
  transition: opacity var(--tr-fast) 1s;
  transform-origin: right;
}
.badge a, .mi-slide .badge a, .mi-slide.badge a {
  color: var(--darkest);
  text-decoration: none;
}

.mi-slide .badge.is-active, .mi-slide.badge.is-active {
  opacity: 1;
}

.print-pdf .mi-slide .badge, .print-pdf.mi-slide.badge {
  position: absolute;
  background-color: var(--mark) !important;
}

/* Fadeout Bottom
############################################################################ */
.fadeout-bottom {
  position: absolute;
  max-height: 80dvh;
  overflow: hidden;
  bottom: 0;
}
.fadeout-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.print-pdf .fadeout-bottom {
  position: relative;
}

/* Grid
############################################################################ */
@media screen and (min-width: 800px) {
  .mi-slide .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--m);
  }
  .mi-slide .grid [data-col="1"] {
    grid-column: 1/2;
    display: block;
    text-align: right;
    hyphens: none;
  }
  .mi-slide .grid [data-col="2"] {
    grid-column: 2/3;
    display: block;
  }
}

:root {
  --bfs: 12px;
}

#impress .step {
  width: 80vw;
  opacity: 0.2;
  transition: all var(--tr-fast) ease-in-out;
}
#impress .step.active {
  opacity: 1;
}
#impress .bu {
  opacity: 1;
}

/* Intro
############################################################################ */
/* Outro
############################################################################ */
/* Zitat
############################################################################ */
/* Screenshot
############################################################################ */
/* Video
############################################################################ */
/* statement
############################################################################ */
/* Interlude
############################################################################ */
/* Shout
############################################################################ */
/* question
############################################################################ */
/* Simple
############################################################################ */
/* Code
############################################################################ */
/* Question and Answer
############################################################################ */
/* Wrap
############################################################################ */
/* Split
############################################################################ */
/* Image
############################################################################ */
.image figure img {
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: contain;
}

/*# sourceMappingURL=impress.css.map */
