@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Reveal Resets
############################################################################ */
.reveal .slides {
  text-align: left; }

.reveal .controls {
  transform: scale(0.8); }
  .reveal .controls .highlight {
    animation: none !important; }

.reveal .progress span {
  background-color: var(--color-decoration); }

@font-face {
  font-family: PTsans;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf"); }

@font-face {
  font-family: PTsans;
  font-style: bold;
  font-weight: 600;
  src: url("./fonts/PT_Sans/PTSans-Bold.ttf"); }

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Barlow/Barlow-Light.ttf"); }

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Barlow/Barlow-Regular.ttf"); }

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Barlow/Barlow-Medium.ttf"); }

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Barlow/Barlow-Bold.ttf"); }

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Barlow/Barlow-Regular.ttf"); }

@font-face {
  font-family: PTserif;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/PT_Serif/PTSerif-Regular.ttf"); }

@font-face {
  font-family: RobotoCode;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto_Mono/RobotoMono-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto_Slab/RobotoSlab-Medium.ttf"); }

@font-face {
  font-family: Roboto;
  font-style: bold;
  font-weight: 600;
  src: url("./fonts/Roboto_Slab/RobotoSlab-Bold.ttf"); }

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("./fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("./fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("./fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype"); }

:root {
  --bfs: 1vw;
  --half: calc(var(--bfs) / 2);
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 1);
  --xs: calc(var(--bfs) * 1.25);
  --s: calc(var(--bfs) * 1.6);
  --m: calc(var(--bfs) * 2);
  --l: calc(var(--bfs) * 2.5);
  --xl: calc(var(--bfs) * 3.15);
  --xxl: calc(var(--bfs) * 4);
  --xxxl: calc(var(--bfs) * 5);
  --xxxxl: calc(var(--bfs) * 6.3);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --dark: #888;
  --darker: #111;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.2);
  --color-text: var(--darker);
  --color-headline: var(--dark);
  --color-accent: var(--mi-pink);
  --color-decoration: var(--mi-gruen);
  --mi-blau: #4952e1;
  --mi-pink: #d16;
  --mi-gruen: #00ad2f;
  --mi-lila: #9313ce;
  --mi-black: #231f20;
  --mi-grau: #aaa;
  --mi-hellgrau: #efefef;
  --ff-normal: 'Barlow', sans-serif;
  --ff-serif: 'PTserif', serif;
  --ff-code: 'RobotoCode', monospace;
  --ff-headline: 'Roboto', monospace;
  --ff-icons: 'MaterialIcons', serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;
  --op-medium: 0.6;
  --shadow-l: 0 0 var(--xs) rgba(0, 0, 0, 0.5);
  --shadow-xl: var(--half) var(--half) var(--m) rgba(0, 0, 0, 0.3);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;
  --radius-s: 3px; }

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal; }
  .icon--s {
    font-size: var(--s);
    line-height: var(--s); }
  .icon--m {
    font-size: var(--m);
    line-height: var(--m); }
  .icon--l {
    font-size: var(--l);
    line-height: var(--l); }
  .icon--xl {
    font-size: var(--xl);
    line-height: var(--xl); }
  .icon.md-dark {
    color: var(--lightest); }
  .icon.md-light {
    color: var(--darkest); }
  .icon--inline {
    margin-right: var(--xs);
    font-size: var(--m); }
  .icon::before {
    content: attr(data-icon); }

* {
  /* TODO: Zeigen */
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: var(--lightest);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: bold;
  hyphens: none; }

h1 {
  padding-top: var(--xxxl);
  padding-bottom: var(--xxxl);
  color: var(--darkest);
  font-size: var(--xxxl);
  line-height: var(--lh-tight); }

h2 {
  padding-top: var(--xxl);
  margin-bottom: var(--xxl);
  font-size: var(--xxl);
  font-weight: var(--fw-medium); }

h3 {
  padding-top: var(--xl);
  margin-bottom: var(--xl);
  font-size: var(--xl);
  font-weight: normal; }

p {
  hyphens: auto; }
  p strong {
    color: var(--mi-lila); }

a {
  color: var(--color-accent);
  text-decoration: none; }

@keyframes fadein {
  from {
    bottom: calc(var(--xxl) * -1);
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

/* Misc
############################################################################ */
.list {
  border-left: solid var(--border-width-l) var(--mi-blau);
  padding-left: var(--s);
  background-color: var(--lighter);
  padding-top: var(--quat);
  padding-bottom: var(--half);
  margin-bottom: var(--m) !important; }

/* Utiliies
############################################################################ */
.has-gap {
  margin-top: var(--xxl) !important;
  margin-bottom: var(--xxl) !important; }

.has-whitener {
  padding: var(--l);
  background-color: rgba(255, 255, 255, 0.7); }

.is-full-width {
  width: 100%; }

.is-fullscreen {
  width: 100vw;
  height: 100vh; }

.is-centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.is-stacked {
  flex-direction: column; }

.js-fit-text {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center; }

.js-delay {
  opacity: 0;
  transform: scale(0);
  transition: all var(--tr-fast) var(--tr-delay); }
  .js-delay.has-delay {
    opacity: 1;
    transform: scale(1); }

.is-purple {
  color: var(--mi-lila); }

.is-green {
  color: var(--mi-gruen); }

/* Status
############################################################################ */
.status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--mi-pink);
  color: var(--lightest);
  padding: var(--xs) var(--xxs); }

/* Aufzählung
############################################################################ */
.inline li {
  display: inline-block; }

.inline li + li::before {
  color: var(--color-decoration);
  content: "// "; }

/* Quelle
############################################################################ */
.src {
  font-size: var(--xxs);
  opacity: 0.2;
  transform: scale(0.5);
  transform-origin: left top;
  transition: all var(--tr-fast); }
  .src:hover {
    opacity: 0.8;
    transform: scale(1); }

/* Bildunterschriften
############################################################################ */
.bu {
  position: absolute;
  bottom: 0;
  left: var(--xxs);
  display: inline-block;
  max-width: calc(var(--bfs) * 20);
  padding: var(--xxs) var(--xxs) var(--xs) var(--xxs);
  background-color: var(--lighter);
  color: var(--darker);
  font-size: var(--xs);
  opacity: 0;
  transition: opacity var(--tr-slow) var(--tr-delay); }
  .bu .credit {
    font-size: var(--xxs);
    margin-top: var(--half); }
    .bu .credit > span {
      color: var(--color-accent); }
  .bu.is-active {
    opacity: 1; }
  .bu h2,
  .bu h3 {
    padding-top: 0;
    margin-bottom: 0;
    color: var(--darkest);
    font-size: var(--s); }
    .bu h2 + *,
    .bu h3 + * {
      margin-top: var(--half); }

.bu-hero {
  color: var(--lightest);
  font-family: var(--ff-headline);
  font-size: var(--xxl);
  font-weight: bold;
  opacity: 0.7; }

/* Blöcke
############################################################################ */
.content-blocks p,
.content-blocks li,
.content-blocks h3 {
  display: block;
  padding: var(--xxs) var(--xs);
  margin-bottom: var(--xxs);
  background-color: var(--lightest);
  box-shadow: var(--shadow-l); }

.content-blocks h3 {
  color: var(--mi-lila); }

.content-blocks strong {
  font-weight: var(--fw-bold); }

/* Document Layout 
############################################################################ */
.document {
  --bfs: 0.7rem;
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 1);
  --xs: calc(var(--bfs) * 1.25);
  --s: calc(var(--bfs) * 1.6);
  --m: calc(var(--bfs) * 2);
  --l: calc(var(--bfs) * 2.5);
  --xl: calc(var(--bfs) * 3.15);
  --xxl: calc(var(--bfs) * 4);
  --xxxl: calc(var(--bfs) * 5);
  --xxxxl: calc(var(--bfs) * 6.3);
  padding: var(--l) var(--m); }

.document h1 {
  padding-top: var(--s);
  padding-bottom: var(--s);
  font-size: var(--xl); }

.document h2 {
  color: var(--mi-lila);
  font-size: var(--l); }

.count {
  color: var(--darkest);
  font-weight: var(--fw-light);
  font-size: 80%; }
  .count::before {
    content: " // #";
    color: var(--darkest); }

.question-count {
  position: absolute;
  right: var(--m);
  top: var(--xs);
  font-size: var(--s);
  color: var(--mi-gruen); }
  .question-count::before {
    content: "#";
    color: var(--dark); }

.shout blockquote {
  max-width: 90rem !important; }
  .shout blockquote p {
    font-family: var(--ff-normal) !important; }

#questionSelector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  outline: none;
  position: absolute;
  right: var(--m);
  bottom: 0;
  font-size: var(--xxs);
  border: solid var(--border-width-s) var(--light);
  padding: 0 var(--xs);
  border-radius: var(--radius-s);
  opacity: 0.5;
  transition: opacity var(--tr-fast); }
  #questionSelector::-ms-expand {
    display: none; }
  #questionSelector option {
    font-size: var(--xxs); }
  #questionSelector:hover {
    opacity: 1; }

/* Utils
############################################################################ */
.is-black {
  color: var(--darkest); }

.is-blue {
  color: var(--mi-blau); }

.is-important {
  font-weight: var(--fw-medium); }

a.is-black {
  color: var(--darkest); }
  a.is-black:hover {
    color: var(--color-accent); }

.mi-slide {
  position: relative;
  width: 100vw;
  height: 95vh; }
  .mi-slide > section {
    height: 100%; }

/* Intro
############################################################################ */
.intro {
  /* display: flex !important;
  align-items: center; */
  padding: var(--m); }
  .intro h1 {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: var(--half);
    margin-top: 0;
    color: var(--lightest);
    font-size: var(--xxxl); }
  .intro h2 {
    padding-top: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: var(--m); }

/* Outro
############################################################################ */
.outro-avatar {
  display: flex;
  align-items: center;
  color: var(--lightest); }
  .outro-avatar img {
    border-radius: 50%;
    width: 100%;
    max-width: 10vw;
    margin-right: var(--m);
    border: solid var(--border-width-m) var(--mi-gruen); }
  .outro-avatar figcaption {
    font-size: var(--l); }
    .outro-avatar figcaption .small {
      font-size: var(--s);
      color: var(--dark); }

/* Zitat
############################################################################ */
.cite {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .cite blockquote {
    max-width: 60rem; }
    .cite blockquote cite {
      display: block;
      margin-bottom: var(--half);
      color: var(--dark);
      color: var(--mi-lila);
      font-size: var(--xs); }
    .cite blockquote p {
      position: relative;
      display: inline-block;
      margin-bottom: var(--xl);
      font-family: var(--ff-serif);
      font-size: var(--xl);
      hyphens: none;
      line-height: var(--lh-tight); }
      .cite blockquote p::before {
        position: absolute;
        left: calc(var(--s) * -1);
        color: var(--mi-lila);
        content: "« "; }
      .cite blockquote p::after {
        color: var(--mi-lila);
        content: "»"; }

/* Screenshot
############################################################################ */
.screenshot {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .screenshot figure {
    display: flex;
    max-width: 90vw;
    height: 100%;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    overflow: auto; }
    .screenshot figure img, .screenshot figure svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
    .screenshot figure img {
      box-shadow: var(--shadow-xl); }
    .screenshot figure.zoom {
      box-shadow: var(--shadow-xl);
      align-items: normal; }
      .screenshot figure.zoom img, .screenshot figure.zoom svg {
        height: max-content;
        max-height: none; }
  .screenshot.no-shadow figure {
    box-shadow: none; }
    .screenshot.no-shadow figure img {
      box-shadow: none; }

/* Video
############################################################################ */
.video {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .video figure {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    max-height: 80vh; }
    .video figure iframe {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      box-shadow: var(--shadow-xl);
      object-fit: contain; }
  .video .bu {
    top: auto;
    bottom: var(--m);
    background-color: transparent; }

/* Statement
############################################################################ */
.statement {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .statement div {
    max-width: 60rem; }
    .statement div h1 {
      padding-bottom: var(--s); }
    .statement div p {
      margin-bottom: var(--xl);
      color: var(--darker);
      font-size: var(--l);
      line-height: var(--lh-tight); }
  .statement.is-green {
    background-color: var(--mi-gruen); }
    .statement.is-green * {
      color: var(--lightest); }
  .statement.is-purple {
    background-color: var(--mi-lila); }
    .statement.is-purple * {
      color: var(--lightest); }
  .statement.is-blue {
    background-color: var(--mi-blau); }
    .statement.is-blue * {
      color: var(--lightest); }

/* Interlude
############################################################################ */
.interlude {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: var(--mi-gruen); }
  .interlude .title {
    padding: 0;
    color: var(--lightest); }
  .interlude .subtitle {
    padding: 0;
    font-family: var(--ff-normal);
    color: var(--darkest);
    opacity: var(--op-medium); }

/* Shout
############################################################################ */
.shout {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .shout blockquote {
    max-width: 60rem;
    transition: all var(--tr-slow); }
    .shout blockquote cite {
      display: block;
      margin-bottom: var(--half);
      color: var(--dark);
      color: var(--mi-lila);
      font-size: var(--xs);
      font-style: normal; }
    .shout blockquote p {
      position: relative;
      display: inline-block;
      margin-bottom: var(--xl);
      font-family: var(--ff-headline);
      font-size: var(--xl);
      hyphens: none;
      line-height: var(--lh-tight); }
    .shout blockquote.is-passive {
      transform: scale(0.5);
      transform-origin: center right; }
  .shout .info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--s);
    padding: var(--l);
    background-color: var(--dark);
    color: var(--dark);
    border-radius: 50%;
    line-height: var(--lh-normal);
    overflow-y: auto;
    transform-origin: top left;
    max-width: calc(var(--s) * 30);
    transform: scale(0.1) translateX(-50%) translateY(-50%);
    transition: all var(--tr-fast); }
    .shout .info:hover {
      top: 0;
      left: 0;
      cursor: pointer;
      transform: scale(0.1) translateX(-25%) translateY(-25%); }
    .shout .info.is-active {
      top: 0;
      left: 0;
      transform: scale(1) translateX(0) translateY(0);
      bottom: calc(var(--xl) * -1);
      background-color: var(--lighter);
      border-radius: 0;
      color: var(--darkest); }

/* question
############################################################################ */
.question {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .question div {
    text-align: center; }
    .question div .title {
      padding: 0;
      padding-bottom: var(--half); }
    .question div .subtitle {
      font-family: var(--ff-normal);
      color: var(--mi-lila);
      font-size: var(--m);
      padding: 0; }

/* Simple
############################################################################ */
.simple {
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .simple div {
    max-width: calc(var(--m) * 40); }
    .simple div h1 {
      padding: 0;
      padding-bottom: var(--s);
      margin-bottom: var(--s);
      font-size: var(--xl); }
    .simple div h2 {
      padding: 0;
      padding-bottom: 0;
      margin-bottom: var(--xxs);
      color: var(--mi-blau);
      font-family: var(--ff-normal);
      font-size: var(--l); }
    .simple div p {
      margin-bottom: var(--xl);
      color: var(--darker);
      font-size: var(--l);
      line-height: var(--lh-tight); }

/* Question and Answer
############################################################################ */
.qa {
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-height: 90vh; }
  .qa-wrap {
    display: grid !important;
    max-width: 90vw;
    grid-template-columns: 33% 1fr;
    grid-gap: var(--m); }
  .qa h1 {
    padding: 0;
    font-family: var(--ff-normal);
    font-size: var(--m);
    line-height: var(--lh-normal);
    font-weight: var(--fw-medium);
    text-align: right;
    color: var(--mi-lila); }
  .qa h2 {
    padding: 0;
    padding-bottom: 0;
    margin-bottom: var(--xxs);
    color: var(--mi-blau);
    font-family: var(--ff-normal);
    font-size: var(--l);
    text-align: right; }
  .qa p {
    color: var(--darker);
    font-size: var(--m);
    line-height: var(--lh-normal); }

.overview .slides .mi-slide {
  width: 400px !important;
  height: 300px !important; }

/*# sourceMappingURL=main.css.map */