<nav class="main-navigation" data-js-nav>
  <button class="menu-trigger" data-js-dropdown="level-1" data-state="active">
    <i class="icon icon--xl open">menu</i
    ><i class="icon icon--xl close">close</i>
  </button>

  <ul class="navbar" data-js-dropdown-target="level-1" data-state="hidden">

    {%- for chapter in collections.chapters -%}
       <li class="navbar__item" data-js-navitem>
        <a href="{{ chapter.url }}">{{chapter.data.title}}</a></li>
      </li>
    {%- endfor -%}

  </ul>
</nav>